venv/
data/input/
data/input.mp4
results/output_images
results/output.mp4
pretrained_models/TecoGAN_4x_BD_Vimeo_iter500K.pth
pretrained_models/TecoGAN_BD_iter500000.pth
pretrained_models/TecoGAN_BI_iter500000.pth
pretrained_models/FRVSR_BD_iter400000.pth
pretrained_models/FRVSR_BI_iter400000.pth