# Ignore all __pycache__ directories and .pyc files
**/__pycache__/
**/**/__pycache__/
*.pyc

# Ignore virtual environment directory
venv/

# Ignore specific input/output files and directories
data/
input_dir_cmd
output_dir_cmd
input_dir_web
output_dir_web

# Ignore all .pth files in pretrained_models directory
pretrained_models/*.pth
