# Ignore all __pycache__ directories and .pyc files
**/__pycache__/
**.pyc

# Ignore virtual environment directory
venv/

# Ignore specific input/output files and directories
input.mp4
data/input/
data/input.mp4
results/output_images/
results/output.mp4
results/output_audio.mp3

# Ignore all .pth files in pretrained_models directory
pretrained_models/*.pth
