opencv-python
gradio
ffmpeg-python
scipy
scikit-image
IPython
# torch==2.0.1+cu117
# torchvision==0.15.2+cu117
# python -m pip install torch torchvision --index-url https://download.pytorch.org/whl/cu117